.presentacion {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.parrafo_principal {
    font-size: 1.5rem;
}

.mapa {
    width: 50%;
    height: 90%;

}

iframe {
    width: 90%;
    height: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.58);
    border-radius: 5%;
}

.formulario {
    width: 50%;
    height: 90%;

}

.formulario input {
    width: 60%;
    height: 40px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.32);
    border-radius: 14px 14px 14px 14px;
    margin: 2%;
    text-align: left;
    padding-left: 1%;
    font-size: 1rem;
    background-color: #e2d8d1d0;

}


form label i {
    font-size: 150%;
}

#boton {
    margin-top: 1%;
    text-align: center;
    background-color: #725b75e7;
    margin-left: 6%;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .presentacion {
        justify-content: space-around;
    }

    .mapa {
        width: 90%;
        height: 30vh;
    }

    .parrafo_principal {
        width: 100%;
        text-align: center;
    }

    .formulario {
        margin-top: 5%;
        width: 90%;
        height: 40vh;
    }

    form {
        margin-top: 2%;
        width: 100%;

    }

    #boton {
        margin-top: 5%;
    }
}

@media screen and (max-width:767px) {
    .container {
        height: auto;
    }

    .mapa {
        width: 85%;
        height: 15vh;
    }

    .formulario p {
        margin-top: 5%;
        width: 100%;
        height: 7vh;
    }

    .formulario {
        width: auto;
        height: auto;
    }


}