.presentacion {
    width: 20%;
    height: 83%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 87px 10px;
    background-color: #725b75b7;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.58);
}

.presentacion p {
    width: 75%;
    height: 80%;
    font-size: 1rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.iframe {
    width: 75%;
    height: 90%;

}

iframe {
    width: 65%;
    height: 90%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.58);
}